/* ----------------------------FOOTER---------------------------- */
footer {
  background-color: rgb(249, 253, 255);
}

.footerContent{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
    gap: 8px;

    a{
      color: black;
    }

    p{
      text-align: center;
      margin-top: 40px;
    }
  }

.copyright{
  margin-top: 30px;
  text-align: center;
}